@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.nav_links {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    /* background: crimson; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.nav_links.sticky {
    padding: 15px 0;
    background: crimson;
}

.nav_links .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_links .menu li {
    list-style: none;
    display: inline-block;
}


.nav_links .menu li a {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.nav_links .menu li a:hover {
    color: crimson;
}


.nav_links.sticky .menu li a:hover {
    color:white;
}

.nav_links .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}


.nav_links .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.nav_links.sticky .logo a span {
    color: white;
}

/* Home section styling */
.home {
    display: flex;
    height: 100vh;
    /* background: url("img/banner.jpg") no-repeat center; */
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: white;
    background: none;
}

/* menu button styling */
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Biography section styling */
section {
    padding: 100px 0;
}
.biography, .education, .projects, .skills,.contact, .review, .interests, .gallery, .experience, footer {
    font-family: 'Poppins',sans-serif;
}
/* Similar for all Sections */



section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

section .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:none;
    transform: translateX(-50%);
}
.education .title::before, .projects .title::before, .skills .title::before, 
.biography .title::before, .interests .title::before, .contact .title::before,
.gallery .title::before, .experience .title::before, .review .title::before {
    background: white;
}
.education .title::after, .projects .title::after, .skills .title::after, 
.biography .title::after, .interests .title::after, .contact .title::after,
.gallery .title::after, .experience .title::after, .review .title::after {
    background: #111;
}

.biography .title::after {
    content: 'who i am';
}



.biography .biography-content, .education .education-content, .skills .skills-content,
.contact .contact-content, .home .home-content, .experience .experience-content, 
.review .review-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.biography .biography-content .left {
    width: 45%;
}

.biography .biography-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 7px;
}

.biography .biography-content .right {
    width: 55%;
}

.biography .biography-content .right ul li {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    list-style-type: none;
}
.biography .biography-content .right ul li .mytext {
    margin-left: 10px;
    display: inline-block;
}
.biography .biography-content .right ul li span {
    color: crimson;
}

.biography .biography-content .right p {
    text-align: justify;
}

.biography .biography-content .right a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.biography .biography-content .right a:hover {
    color: crimson;
    background: none;
}


/* Education section styling */

.education .title::after {
    content: 'Education';
}
.education, .projects, .biography, .skills, .interests, .contact, .gallery, .home, .experience, .review {
    color:#fff;
    background: #111;
    min-height: 100vh;
}
.education .education-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.education .education-content .card:hover{
    background: crimson;
}
.eductaion .education-content .card .box{
    transition: all 0.3s ease;
}
.education .education-content .card:hover .box{
    transform: scale(1.05);
}


.education .education-content .card .text{
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.education .education-content .card .text1{
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.education .education-content .card .text2{
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.education .education-content .card p {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* Projects section styling */
.projects .title::after{
    content: "Projects";
}



/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}




/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: white;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}





/* interests/hobbies section styling */
.interests {
    text-align: center;
}
.interests .title::after{
    content: "My interests";
}
/* .interests .interests-content .column{
    width: calc(50% - 30px);
} */
.interests .interests-content .column{
    margin: auto;
    display: inline-block;
}
.interests .interests-content .left {
    margin-right: 200px;
}
/* .interests .interests-content .right {
    width: 40%;
} */
.interests .interests-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: crimson;
}

.interests .interests-content ul li a{
    font-weight: 500;
    font-size: 18px;
    color: white;
}


/* photo section gallery styling */
.gallery {
    height: 1000px;
}
.gallery .title::after {
    content: 'Nature Vibes';
}

.gallery img {
    width: 100%;
    height: 230px;
}
.gallery .image-content {
    border: 1px solid #ccc;
    margin-top: 5px;
}

.des {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
    background: #111;
}



/* Work experience section styling start here */

.experience .title::after {
    content: 'My experience';
}

.experience .experience-content .left {
    width: 35%;
}

.experience .experience-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 7px;
}

.experience .experience-content .right {
    margin: 10px auto;
    width: 65%;
    border-left: 2px solid crimson;
    padding: 0 20px 0 30px;
}

.experience .experience-content .right .element {
    background-color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 8px;
    line-height: 1.7;
    position: relative;
    margin-bottom: 20px;
}
.experience .experience-content .right .element::before {
    content: '';
    width: 15px;
    height: 15px;
    left: -8px;
    top: 50%;
    background: white;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
}

.experience .experience-content .right .element::after {
    content: '';
    width: 20px;
    height: 20px;
    left: -42px;
    top: 50%;
    border-radius: 50%;
    background: crimson;
    position: absolute;
    transform: translateY(-50%);
}

.experience .experience-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.experience .experience-content .right .text span {
    color: crimson;
    font-size: 15px;
}

.experience .experience-content .right .text1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}

.experience .experience-content .right .text1 span {
    color: crimson;
    font-size: 25px;
}

.experience .experience-content .right p {
    text-align: justify;
    color: #111;
}





/* Review section styling starts here */

.review .title::after{
    content: "Give me your suggestion";
}
.review .review-content .column{
    width: calc(80% - 30px);
    margin-left: auto;
    margin-right: auto;
}
.my-content {
    margin-left: 25px;
    margin-bottom: 25px;
}
.review .review-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}


.review .right form .fields{
    display: flex;
}
.review .right form .field,
.review .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.review .right form .textarea{
    height: 80px;
    width: 100%;
}
.review .right form .name{
    margin-right: 10px;
}
.review .right form .field input,
.review .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.review .right form .field input:focus,
.review .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.review .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.review .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}






























/* responsive media query starts */
@media (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}



@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .biography .biography-content .left img {
        height: 300px;
        width: 300px;
    }
    .experience .experience-content .left img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 1132px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
        margin-right: 80px;
    }

    .menu-btn i.active::before {
        content: '\f00d';
    }

    .nav_links .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .nav_links .menu.active {
        left: 0;
    }
    .nav_links .menu li {
        display: block;
    }
    .nav_links .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .biography .biography-content .column {
        width: 100%;
    }
    .biography .biography-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .biography .biography-content .right {
        flex: 100%;
    }
    .experience .experience-content .column {
        width: 100%;
    }
    .experience .experience-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .experience .experience-content .right {
        flex: 100%;
    }
    .education .education-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}







@media (max-width: 700px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .menu-btn {
        margin-right: 40px;
    }
    .home .home-content a {
        font-size: 20px;
        /* padding: 9px 25px; */
    }
    .education .education-content .card{
        width: 100%;
    }
    
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    
    .home .home-content .text-3 {
        font-size: 27px;
    }

    .biography .biography-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .menu-btn {
        margin-right: 30px;
    }
}

